* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src:
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-BoldItalic.woff') format('woff'),
        url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
        url(
            '../fonts/OpenSans-ExtraBoldItalic.woff'
        ) format('woff'),
        url('../fonts/OpenSans-Italic.woff') format('woff'),
        url('../fonts/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans-LightItalic.woff') format('woff'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/OpenSans-SemiBoldItalic.woff') format('woff');
}

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100%;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

#app {
    display: grid;
    grid-template-rows: 1fr auto;
}

.main {
    width: 1440px;
    margin: 0 auto;
}

/**
Header
**/
.header {
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
}

.logo {
    flex-grow: 1;
}

.header-search {
    flex-grow: 5;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.search-term {
    width: 300px;
    border: none;
    padding: 8px;
    height: 44px;
    border-radius: 0 8px 8px 0;
    background: #f2f2f3;
    color: #888b94;
}

.search-term:focus {
    color: #1c1819e1;
}

.search-term:active {
    color: #1c1819;
}

.search-button {
    width: 44px;
    height: 44px;
    border: none;
    text-align: center;
    color: #fff;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
    font-size: 28px;
}

.search-button:hover img {
    transform:
        rotate(
            90deg
        );
    transition: transform 0.3s ease-out;
}

.user-basket {
    flex-grow: 0;
}

.user-basket a {
    display: flex;
    gap: 16px;
    flex-flow: wrap;
    max-width: 200px;
}

.user-photo {
    border-radius: 22px;
}

.user-info {
    display: block;
}

.user-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #2a81dd;
    display: block;
}

.page {
    display: flex;
    padding: 0 32px;
}

.sidebar-menu {
    flex-grow: 1;
    flex-basis: 338px;
}

.menu {
    font-size: 16px;
    line-height: 24px;
    color: #1c1819;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.menu li:hover::before {
    content: '';
    border-right: 4px solid #2a81dd;
    position: absolute;
    margin: -4px 0 0 -8px;
    border-radius: 8px;
    height: 32px;
}

.menu-active {
    font-weight: 600;
}

.menu-active::before {
    content: '';
    border-right: 4px solid #2a81dd;
    position: absolute;
    margin: -4px 0 0 -8px;
    border-radius: 8px;
    height: 32px;
}

.workspace {
    flex-grow: 0;
    flex-basis: 1038px;
    max-width: 1038px;
}

.banner-image {
    width: 1038px;
    height: 336px;
    display: block;
}

.banner:hover {
    box-shadow: 0 2px 10px rgba(28, 24, 25, 0.1);
    border-radius: 8px;
}

.button {
    background-color: #2a81dd;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 2px 10px rgba(28, 24, 25, 0.1);
}

.info-button {
    height: 76px;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #1c1819;
}

.information-buttons {
    display: flex;
    gap: 24px;
    margin: 24px 0 40px 0;
}

.merch-plus {
    background: #eff8eb;
    border-radius: 16px;
}

.merch-plus::before {
    content: '';
    background: url(/src/assets/images/plus.png);
    position: relative;
    margin: 0 0 0 0;
    left: 0;
    top: 8px;
    width: 48px;
    height: 56px;
    background-repeat: no-repeat;
    transition: all 0.5s ease-out;
}

.merch-plus:hover::before {
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}

.merch-question {
    background: #fffae7;
    border-radius: 16px;
}

.merch-question::before {
    content: '';
    background: url(/src/assets/images/question.png);
    position: relative;
    margin: 0 0 0 0;
    left: 0;
    top: 8px;
    width: 48px;
    height: 56px;
    background-repeat: no-repeat;
    transition: all 0.5s ease-out;
}

.merch-question:hover::before {
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}

.merch-gift {
    background: #e9f2fb;
    border-radius: 16px;
}

.merch-gift::before {
    content: '';
    background: url(/src/assets/images/gift.png);
    position: relative;
    margin: 0 0 0 0;
    left: 0;
    top: 8px;
    width: 48px;
    height: 56px;
    background-repeat: no-repeat;
    transition: all 0.5s ease-out;
}

.merch-gift:hover::before {
    transform: scale(1.1);
    transition: all 0.5s ease-out
}

/****
Оформление карточки товар
*****/
.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 16px 0;
}

.card {
    width: 330px;
    height: 518px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 2px 10px rgba(28, 24, 25, 0.1);
    border-radius: 8px;
}

.merch-button {
    opacity: 0;
}

.card:hover .merch-button {
    opacity: 1;
}

.merch-image {
    position: relative;
}

.merch-badge {
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    background-color: #64bd38;
    padding: 0 4px;
    border-radius: 4px;
}

.merch-image img {
    display: block;
}

.merch-description {
    padding: 16px;
}

.merch-price {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #2a81dd;
    margin-bottom: 8px;
}

.card:hover .merch-price {
    color: #f33;
}

.merch-title {
    color: #1c1819;
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 8px;
}

.merch-hint {
    font-size: 14px;
    line-height: 24px;
    color: #888b94;
    margin-bottom: 16px;
}

/*****
 Модальное окно
 *****/
.modal {
    display: none;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.other-page {
    display: block;
}

/* Модальное содержание/коробка */
.modal-content {
    background-color: #fff;
    padding: 56px;
    border: none;
    border-radius: 8px;
    width: 1040px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.merch-close {
    background: transparent url(/src/assets/images/close.png) no-repeat;
    border: 0;
    width: 18px;
    cursor: pointer;
    height: 18px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.image-container {
    flex-grow: 1;
}

.product-description {
    flex-grow: 2;
}

.active-image {
    margin-bottom: 16px;
}

.gallery-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-images > * {
    margin: 0 4px 10px 4px;
}

.active {
    border: 1px solid #2a81dd;
    border-radius: 8px;
}

.inner-title {
    font-size: 20px;
    line-height: 32px;
    color: #1c1819;
    margin-bottom: 8px;
}

.price-container {
    flex-grow: 1;
}

.amount-user {
    background: #f0fafd;
    border-radius: 16px;
    width: 196px;
    height: 68px;
    padding: 8px 16px;
    background-image: url(/src/assets/images/basket.png);
    background-repeat: no-repeat;
    background-position: right 16px bottom 50%;
}

.amount-container {
    display: flex;
}

.amount-check {
    font-size: 16px;
    line-height: 24px;
    color: #1c1819;
    margin: 4px 0 0 0;
}

.amount-title {
    font-size: 14px;
    line-height: 24px;
    color: #888b94;
}

.price-product {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #1c1819;
    margin-bottom: 8px;
}

.request {
    font-size: 14px;
    line-height: 24px;
    background-color: #ffdd61;
    color: #1c1819;
    width: 185px;
    height: 36px;
}

.buy {
    background: #2a81dd;
    width: 134px;
    height: 36px;
}

/***
Radio button ***/
.radio-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.radio-buttons > * {
    margin: 5px;
}

.color-description,
.size-description {
    margin: 24px 0 8px 0;
}

.form_radio_btn {
    display: inline-block;
    margin-right: 10px;
}

.form_radio_btn:hover {
    background: #d6ecfb;
    border-radius: 8px;
}

.form_radio_btn input[type=radio] {
    display: none;
}

.merch-options label {
    cursor: pointer;
    padding: 0 10px 0 35px;
    line-height: 34px;
    border-radius: 8px;
    user-select: none;
}

input[type='radio']:not(:checked) + label {
    border: 1px solid rgba(28, 24, 25, 0.1);
}

label.merch-type-options {
    padding: 0 6px;
}

/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}

.merch-options input[type='radio']:checked + label {
    background: #d6ecfb;
    display: inline-block;
    position: relative;
    cursor: pointer;
    content: '';
    left: 0;
    top: 0;
    border: 1px solid transparent;
}

.merch-options input[type='radio']:not(:checked) + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    content: '';
    left: 0;
    top: 0;
    border: 1px solid rgba(28, 24, 25, 0.1);
}

.merch-options input[type='radio']:checked + label::after,
.merch-options input[type='radio']:not(:checked) + label::after {
    content: '';
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 5px;
    top: 5px;
    width: 24px;
    height: 24px;
    border-radius: 8px;
}

.merch-options input.size[type='radio']:checked + label.size::after,
.merch-options input.size[type='radio']:not(:checked) + label.size::after {
    width: 1px;
    height: 1px;
}

.merch-options input.size[type='radio']:checked + label.size::after {
    background-color: #d6ecfb;
}

.merch-options input.size[type='radio']:not(:checked) + label.size::after {
    background-color: #d6ecfb;
}

.merch-options input.size[type='radio']:not(:checked) + label {
    border: 1px solid rgba(28, 24, 25, 0.1);
}

.merch-options input.blue[type='radio']:checked + label.blue::after {
    background-color: #00458a;
}

.merch-options input.blue[type='radio']:not(:checked) + label.blue::after {
    background-color: #00458a;
}

.merch-options input.blue[type='radio']:not(:checked) + label {
    border: 1px solid #00458a;
}

.merch-options input.milk[type='radio']:checked + label.milk::after {
    background-color: #efe8d8;
}

.merch-options input.milk[type='radio']:not(:checked) + label.milk::after {
    background-color: #efe8d8;
}

.merch-options input.milk[type='radio']:not(:checked) + label {
    border: 1px solid #efe8d8;
}

.merch-options input.gray[type='radio']:checked + label.gray::after {
    background-color: #d4d4da;
}

.merch-options input.gray[type='radio']:not(:checked) + label.gray::after {
    background-color: #d4d4da;
    border: 1px solid #d4d4da;
}

.merch-options input.gray[type='radio']:not(:checked) + label {
    border: 1px solid #d4d4da;
}

.merch-options label.size {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0;
    border: 1px solid rgba(28, 24, 25, 0.1)
}

.content-title {
    margin: 24px 0 4px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #1c1819;
}

.content-description {
    font-size: 14px;
    line-height: 24px;
}
