@import '../vars.scss';

/***
Radio button ***/
.radio-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.radio-buttons > * {
    margin: 5px;
}

.color-description,
.size-description {
    margin: 24px 0 8px 0;
}

.form-radio-btn {
    display: inline-block;
    margin-right: 10px;
}

.form-radio-btn:hover {
    background: #d6ecfb;

    @include border-radius;
}

.form-radio-btn input[type=radio] {
    display: none;
}

.merch-options label {
    cursor: pointer;
    padding: 0 10px 0 35px;
    line-height: 34px;

    @include border-radius;

    user-select: none;
}

input[type='radio']:not(:checked) + label {
    border: 1px solid rgba(28, 24, 25, 0.1);
}

label.merch-type-options {
    padding: 0 6px;
}

/* Disabled */
.form-radio-btn input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}

.merch-options input[type='radio']:checked + label {
    background: #d6ecfb;
    display: inline-block;
    position: relative;
    cursor: pointer;
    content: '';
    left: 0;
    top: 0;
    border: 1px solid transparent;
}

.merch-options input[type='radio']:not(:checked) + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    content: '';
    left: 0;
    top: 0;
    border: 1px solid rgba(28, 24, 25, 0.1);
}

.merch-options input[type='radio']:checked + label::after,
.merch-options input[type='radio']:not(:checked) + label::after {
    content: '';
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 5px;
    top: 5px;
    width: 24px;
    height: 24px;

    @include border-radius;
}

.merch-options input.size[type='radio']:checked + label.size::after,
.merch-options input.size[type='radio']:not(:checked) + label.size::after {
    width: 1px;
    height: 1px;
}

.merch-options input.size[type='radio']:checked + label.size::after {
    background-color: #d6ecfb;
}

.merch-options input.size[type='radio']:not(:checked) + label.size::after {
    background-color: #d6ecfb;
}

.merch-options input.size[type='radio']:not(:checked) + label {
    border: 1px solid rgba(28, 24, 25, 0.1);
}

.merch-options input.blue[type='radio']:checked + label.blue::after {
    background-color: #00458a;
}

.merch-options input.blue[type='radio']:not(:checked) + label.blue::after {
    background-color: #00458a;
}

.merch-options input.blue[type='radio']:not(:checked) + label {
    border: 1px solid #00458a;
}

.merch-options input.milk[type='radio']:checked + label.milk::after {
    background-color: #efe8d8;
}

.merch-options input.milk[type='radio']:not(:checked) + label.milk::after {
    background-color: #efe8d8;
}

.merch-options input.milk[type='radio']:not(:checked) + label {
    border: 1px solid #efe8d8;
}

.merch-options input.gray[type='radio']:checked + label.gray::after {
    background-color: #d4d4da;
}

.merch-options input.gray[type='radio']:not(:checked) + label.gray::after {
    background-color: #d4d4da;
    border: 1px solid #d4d4da;
}

.merch-options input.gray[type='radio']:not(:checked) + label {
    border: 1px solid #d4d4da;
}

.merch-options label.size {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0;
    border: 1px solid rgba(28, 24, 25, 0.1)
}
