@import '../vars.scss';

.sidebar {
    flex-grow: 1;
    max-width: 280px;

    &__menu {
        font-size: 16px;
        line-height: 24px;
        color: $dark;
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

    &__menu li:hover::before {
        content: '';
        border-right: 4px solid $blue;
        position: absolute;
        margin: -6px 0 0 -10px;
        border-radius: 8px;
        height: 32px;
    }

    &__menu--active {
        font-weight: 600;
    }

    &__menu--active::before {
        content: '';
        border-right: 4px solid $blue;
        position: absolute;
        margin: -6px 0 0 -10px;
        border-radius: 8px;
        height: 32px;
    }
}
