$gray:#f2f2f3;
$white:#fff;
$blue:#2a81dd;
$dark:#1c1819;
$red: #f33;
$white-gray:#eff8eb;
$gift-gray:#e9f2fb;
$user-gray:#f0fafd;
$dark-gray:#888b94;
$orange:#ffdd61;
$white-orange:#fffae7;
$box-black:rgba(28, 24, 25);
